<div class="box">
  <div class="boxy">
    <div style="width:100%; text-align:center">
      <h4 class="sectionTitle" style="display:inline">Title 1</h4>
      <button class="addStickyButton fas fa-plus-circle" title="Add Sticky" (click)="addNote(noteType.Priority1)"></button>
    </div>
    <div id="divNotes1" style="padding:5px">
      <div class="stickyNotes1" *ngFor="let note of (myNotes|filterNotes:0); let i=index" >
        <textarea class="notesText" [(ngModel)]=note.message></textarea>
        <div class="notesCount">
          <label style="cursor:pointer" (click)="upVote(note)">
            <a class="voteStickyButton fas fa-thumbs-up" title="Vote Up"></a> +<span class="count" title="Like">{{note.upVote}}</span>
          </label>
          <a class="removeStickyButton fas fa-trash-alt" style="float:right" (click)="deleteNote(note)" title="Delete"></a>
        </div>
      </div>     
    </div>
  </div>
  <div class="boxy" style="">
    <div style="width:100%; text-align:center">
      <h4 class="sectionTitle" style="display:inline">Title 2</h4>
      <button class="addStickyButton fas fa-plus-circle" (click)="addNote(noteType.Priority2)" title="Add Sticky"></button>
    </div>
    <div id="divNotes2" style="padding:5px">
      <div class="stickyNotes2" *ngFor="let note of (myNotes|filterNotes:1);" >
        <textarea class="notesText" [(ngModel)]=note.message></textarea>
        <div class="notesCount">
          <label style="cursor:pointer" (click)="upVote(note)"><a class="voteStickyButton fas fa-thumbs-up" title="Vote Up"></a> +<span class="count" title="Like">{{note.upVote}}</span></label>
          <a class="removeStickyButton fas fa-trash-alt" style="float:right" (click)="deleteNote(note)" title="Delete"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="boxy" style="">
    <div style="width:100%; text-align:center">
      <h4 class="sectionTitle" style="display:inline">Title 3</h4>
      <button class="addStickyButton fas fa-plus-circle" (click)="addNote(noteType.Priority3)" title="Add Sticky"></button>
    </div>
    <div id="divNotes3" style="padding:5px">
      <div class="stickyNotes3" *ngFor="let note of (myNotes|filterNotes:2);let i=index" >
        <textarea class="notesText"  [(ngModel)]=note.message></textarea>
        <div class="notesCount">
          <label style="cursor:pointer" (click)="upVote(note)"><a class="voteStickyButton fas fa-thumbs-up" title="Vote Up"></a> +<span class="count" title="Like">{{note.upVote}}</span></label>
          <a class="removeStickyButton fas fa-trash-alt" style="float:right" (click)="deleteNote(note)" title="Delete"></a>
        </div>
      </div>      
    </div>
  </div>
</div>
